<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>AWS Posters for Kids</title>

    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/static/carousel.css" rel="stylesheet">
    <link href="/static/jumbotron-narrow.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="container">

      <nav id="nav" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <div class="logo">
            <a href="/"><img src="https://a0.awsstatic.com/main/images/logos/aws_logo_white_105x39@2x.png" width="105" height="39" /></a>
          </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">Products</a></li>
            <li><a href="/contact">Solutions</a></li>
            <li><a href="/pricing">Pricing</a></li>
          </ul>
        </div>
      </div>
      </nav>

    </div>

    <div class="container">

      <div class="bedroom-photo">
        <img src="/static/bedroom.jpg" />
      </div>
      <div class="jumbotron">
        <h2>A must-have for any kids room.</h2>
        <p class="lead">If your kids don't start learning the AWS Dashboard now, they'll be in your basement until they are 35.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Buy one today</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <img class="subheading-img" src="/static/babywatch.jpg" />
          <h4>Your child shouldn't miss a single Cloudwatch alert</h4>
          <p>Our toy integrations make sure that your child can drill on AWS service names wherever they are.</p>

          <h4>Satisfied Parents</h4>
          <p>"My child was a huge fuck up but with the help of the AWS poster they're well on their way to a successful life of getting paged at 3AM because the web team can't write a stable service." - Parent at YC Company</p>

        </div>

        <div class="col-lg-6">
          <h4>Enjoy AWS-Style Pricing</h4>
          <p>Pay just $0.0007 per hour and $0.003 per glance from your child.</p>

          <h4>Happy Dads</h4>
          <p>"The AWS poster has led to healthy conversations with my child, especially how to show the green checkmark even when things are not going so well." - Manager</p>

          <img class="subheading-img" src="/static/jumper.jpg" />
          <h4>AWS Discover Seat</h4>
          <p>Baby can learn how to balance applications across AZ's, click "start EC2 instances like this one" and about the consistency guarantees of Dynamo.</p>
        </div>
      </div>

      <footer class="footer">
      <p>&copy; 2017, Amazon Web Services, Inc. or its affiliates. All rights reserved.</p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
  </body>
</html>
